# basic
**/.git/**
**/.vscode/**
**/_ignored_/**
**/node_modules/**
**/dist/**

# package manager
**/package.json
**/package-lock.json
**/pnpm-lock.yaml
**/pnpm-lock.yml

# hidden files/directories
**/.*
**/.*/**



